.Testimonio {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin: 10px;
  background-color: var(--VaryLightGray);
  width: 350px;
  position: relative;
}
.Testimonio img{
  width: 50px;
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
}
.Testimonio h1 {
  margin-top:40px;
  font-size: 0.8em;
}
.Testimonio p {
  font-size: 0.8em;
  color: var(--DarkGrayishBlue);
}