.FooterContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: hsl(233, 12%, 13%);
}

.Footer {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 3em;
  width: 80%;
}
.Iconos{
  display: flex;
  column-gap: 0.625em;
}

.Iconos img{
  width: 1.25em;
  cursor: pointer;
  color: red;
}
.Iconos img:hover{
  background-color: red;
}
.Icono {
  cursor: pointer;
}
.Icono:hover {
  fill: var(--BrightRed);

}

.IndexContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5em;
}

.index{
  color:white;
  text-align: left;
  font-size: 0.8em;
  margin: 0.5em 0;
  cursor: pointer;
}
.index:hover{
  color:var(--BrightRed);
}

.Images{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.RigthContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.FormContainer{
  display: flex;
  column-gap: 0.5em;
}

.FormContainer input{
  border-radius: 5em;
  padding: 0.75em;
  border: none;
}

.Error{  
  color: red;
}

.FormContainer input::placeholder {
  color: var(--DarkGrayishBlue);
  font-size: 0.9em;
}

.FormContainer button{
  box-shadow: none;
}

.InputContainer{
  position: relative;
}
.ErrorMessage{
  position: absolute;
  bottom: -30px;
  left: 0.75em;
  color:rgb(255, 61, 61);
  font-style: italic;
  align-self: flex-start;
  font-size: 0.6em;
}
.Correct{
  position: absolute;
  bottom: -30px;
  left: 0.75em;
  color:rgb(106, 255, 61);
  font-style: italic;
  align-self: flex-start;
  font-size: 0.6em;
}


.copyright{
  color:white;
  font-size: 0.7em;
}

.copyright2{
  display: none;
}

@media (max-width: 768px) {
  .Footer {
    width: 90%;
  }
  .IndexContainer{
    column-gap: 0.7em;
  }
}

@media (max-width: 576px) {
  .Footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .copyright{
    visibility: hidden;
  }
  .InputContainer input{
    padding: 0.75em 2em;
  }
  .InputContainer button{
    padding: 0 3em ;
  }
  .IndexContainer{
    column-gap: 7em;
  }
  .Images{
    flex-direction: column-reverse;
  }
  .Iconos{
    column-gap: 2.5em;
    margin: 2em;
  }
  
  .Iconos img{
    width: 2.5em;
  }
  .Logo{
    align-self: center;
    margin: 2em;
    width: 13em;
  }
  .copyright2{
    display: block;
    color:white;
    font-size: 0.7em;
  }
}