.Diferences {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.InfoDiferences {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.InfoDiferences h1 {
  font-size: 2em;
  margin:0 0 0.6em 0;
}

.InfoDiferences p{
  width: 65%;
  font-size: 0.95em;
  color: var(--DarkGrayishBlue);
  margin: 0;
}

.EnumDiferences{
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 768px) {
  .Diferences {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .Diferences {
    width: 90%;
    flex-direction: column;
  }
  .InfoDiferences {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .InfoDiferences h1 {
    font-size: 3em;
  }
  
  .InfoDiferences p{
    font-size: 1.5em;
    width: 100%;
  }
  .EnumDiferences{
    width: 100%;
    margin-top: 2em;
  }
}